--extra-index-url https://download.pytorch.org/whl/cpu
tensorflow-cpu==2.17.0
keras==3.4.1
# Numpy ko version fixed rakhein kyunki TF 2.17 ko 2.0 se niche wala numpy chahiye
numpy<2.0.0,>=1.23.5
pandas==2.1.4
scipy==1.11.4
scikit-learn==1.3.2
joblib==1.3.2
firebase-admin==6.4.0